.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.statistics-data {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.statistics-description {
  color: var(--neutral-color);
  font-size: 0.8rem;
}
 